@model Banking.Application.Web.ViewModels.AddressViewModel

<h2>Address</h2>

<div class="address-display">
    <div><span class="address-line">Line 1:</span> @Model.Line1</div>
    <div><span class="address-line">Line 2:</span> @Model.Line2</div>
    <div><span class="address-line">City:</span> @Model.City</div>
    <div><span class="address-line">Province:</span> @Model.Province</div>
    <div><span class="address-line">Postal Code:</span> @Model.PostalCode</div>
</div>