@model Banking.ViewModels.AddressViewModel

@{
    ViewBag.Title = "_Address";
}

<h2>Address</h2>

<div>Line 1: @Model.Line1</div>
<div>Line 2: @Model.Line2</div>
<div>City: @Model.City</div>
<div>Province: @Model.Province</div>
<div>Postal Code: @Model.PostalCode</div>