@model Banking.Models.Account

<div>
    <span>@Model.AccountNumber</span>
    <span>@Model.Balance</span>
    <span>@Model.Created</span>
    <span>@Model.Modified</span>
    <span>@Model.Type</span>
</div>