@using Banking.Application.Web.ViewModels
@model InvestmentViewModel

<h2>Start New Investment</h2>
<br />
@using (Html.BeginForm("Invest", "Customer"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    Html.RenderPartial("~/Application/Web/Views/Common/_InvestmentData.cshtml", @Model);

    if (@Model.Interest > 0)
    {
        @Html.LabelFor(m => m.Interest)
        <span class="readonly-value">
        @Html.DisplayFor(m => m.Interest)
        </span>
    }
    
    <br />
    <input type="submit" 
           id="calculateInterest" 
           name="action:CalculateInterest"
           value="Calculate Interest" 
           formmethod="post"/>
    
    <br />
    <input type="submit" 
           id="invest" 
           name="action:Invest"
           value="Invest" 
           formmethod="post"/>
}

@Html.ActionLink("Back", "Home", "Customer")

@section Scripts{
    <script type="text/javascript" >

        $(document).ready(function() {
            $('#Start').datepicker({ dateFormat: "mm/dd/yy" });
            $('#End').datepicker({ dateFormat: "mm/dd/yy" });
        });
    </script>
}