@using Banking.Application.Web.ViewModels
@model InvestmentViewModel

    @Html.LabelFor(m => m.AccountId)
    @Html.DropDownListFor(m => m.AccountId, new SelectList(@Model.AccountsList, "Value", "Text"), new Dictionary<string, object>{{"class", "select-list"}})

    @Html.LabelFor(m => m.InvesementTypes)
    @Html.DropDownListFor(m => m.Type, new SelectList(@Model.InvesementTypes, "Value", "Text"), new Dictionary<string, object>{{"class", "select-list"}})
    
    @Html.LabelFor(m => m.Start)
    @Html.EditorFor(m => m.Start)

    @Html.LabelFor(m => m.TermDuration)
    @Html.DropDownListFor(m => m.TermDuration, new SelectList(@Model.TermList, "Value", "Text"), new Dictionary<string, object>{{"class", "select-list"}})

    @Html.LabelFor(m => m.CompoundingFrequecyList)
    @Html.DropDownListFor(m => m.Frequency, new SelectList(@Model.CompoundingFrequecyList, "Value", "Text"), new Dictionary<string, object>{{"class", "select-list"}})
    
    @Html.LabelFor(m => m.Rate)
    <span class="readonly-value">
    @Html.DisplayFor(m => m.Rate)
    </span>
   
    @Html.LabelFor(m => m.StartingAmount)
    @Html.EditorFor(m => m.StartingAmount)

