@model Banking.Application.Web.ViewModels.TransactionViewModel

<div>
    <span>
        @Html.DisplayFor(t => t.TransactionId)
    </span>
    <span>
        @Html.DisplayFor(t => t.Value)
    </span>
    <span>
        @Html.DisplayFor(t => t.Status)
    </span>
    <span>
        @Html.DisplayFor(t => t.Created)
    </span>
     <span>
        @Html.DisplayFor(t => t.Applied)
    </span>
</div>