@model Banking.Application.Web.ViewModels.UserViewModel

@{
    ViewBag.Title = "Create User Account";
}

@using (Html.BeginForm("CreateCustomerStep1", "Teller")) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div>
         @Html.LabelFor(m => m.UserName)
         @Html.TextBoxFor(m => m.UserName)
    </div>
               
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
    </div>
    <div>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
    </div>
                
        <input type="submit" value="Create User Account" />
}

<div>
    @Html.ActionLink("Back", "Home")
</div>
