
@model Banking.Application.Web.ViewModels.CustomerPersonalInformation

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>Personal Information</div>
    
    <div>
        <span>First Name</span>
        <span>@Html.TextBoxFor(c => c.FirstName)</span>
    </div>
    
    <div>
        <span>Last Name</span>
        <span>@Html.TextBoxFor(c => c.LastName)</span>
    </div>
    
     <div>
        <span>Phone</span>
        <span>@Html.TextBoxFor(c => c.Phone)</span>
    </div>
    
    <div>
        <span>Email</span>
        <span>@Html.TextBoxFor(c => c.Email)</span>
    </div>
    
    <div>Address</div>
    
    <div>
        <span>Line 1</span>
        <span>@Html.TextBoxFor(c => c.Address.Line1)</span>
    </div>
    <div>
        <span>Line 2</span>
        <span>@Html.TextBoxFor(c => c.Address.Line2)</span>
    </div>
    <div>
        <span>City</span>
        <span>@Html.TextBoxFor(c => c.Address.City)</span>
    </div>
    <div>
        <span>Province</span>
        <span>@Html.TextBoxFor(c => c.Address.Province)</span>
    </div>
    <div>
        <span>Postal Code</span>
        <span>@Html.TextBoxFor(c => c.Address.PostalCode)</span>
    </div>
    
    <input type="submit" value="Create New Customer"/>
}