@model Banking.Application.Web.ViewModels.CustomerSummary

@{
    ViewBag.Title = "Customer Summary";
}

<div>
    <span class="action-link-container">
        @Html.ActionLink("Edit Personal Information", "EditPersonalInfo", "Teller")
    </span>
    <span class="action-link-container">
        @Html.ActionLink("Edit Address", "EditAddress", "Teller")
    </span>
    <span class="action-link-container">
        @Html.ActionLink("Open Account", "CreateBankAccount", "Teller")
    </span>
    <span class="action-link-container">
        @Html.ActionLink("Deposit", "Deposit", "Teller")
    </span>
    <span class="action-link-container">
        @Html.ActionLink("Withdraw", "Withdraw", "Teller")
    </span>
    <span class="action-link-container">
        @Html.ActionLink("Transfer", "Transfer", "Teller")
    </span>
    <span class="action-link-container">
        @Html.ActionLink("Invest", "Invest", "Teller")
    </span>
    <span class="action-link-container">
        @Html.ActionLink("View Investments", "InvestmentSummary", "Teller")
    </span>
</div>



@if (Model != null)
{
    <div>
        <div style="float: left;">
            <h2>Customer</h2>
            <br />
            <span>@Html.DisplayFor(m => Model.FirstName)&nbsp;</span>
            <span>@Html.DisplayFor(m => Model.LastName)</span>
        </div>   
    
        <div style="float: right;">
            @{
                Html.RenderPartial("~/Application/Web/Views/Common/_Address.cshtml", @Model.CurrentAddress);
            }
        </div>
    </div>
    
    <div style="clear: both;">
        <h2>Accounts</h2>
        @{
            Html.RenderPartial("~/Application/Web/Views/Teller/_AccountInformation.cshtml", @Model.Accounts);
        }
    </div>
    <br />
}


