@model Banking.Application.Web.ViewModels.CustomerSummary

@{
    ViewBag.Title = "Customer Summary";
}

<h2>Customer</h2>
<br />

@if (Model != null)
{
    <div>
        <span>@Html.DisplayFor(m => Model.FirstName)&nbsp;</span>
        <span>@Html.DisplayFor(m => Model.LastName)</span>
    </div>   
    
    <h2>Accounts</h2>
    
    
    Html.RenderPartial("~/Application/Web/Views/Teller/_AccountInformation.cshtml", @Model.Accounts);
   
    Html.RenderPartial("~/Application/Web/Views/Common/_Address.cshtml", @Model.CurrentAddress);
    
    <br />

    <div>
        @Html.ActionLink("Open Account", "CreateBankAccount", "Teller")
    </div>
    <div>
        @Html.ActionLink("Deposit", "Deposit", "Teller")
    </div>
    <div>
        @Html.ActionLink("Withdraw", "Withdraw", "Teller")
    </div>
}
else
{
    <h3>No Customers Found</h3>
}

<br />
@Html.ActionLink("Back", "Home")


