@using Banking.Application.Web.ViewModels
@model Banking.Application.Web.ViewModels.AccountsOperationsViewModel

@{
    ViewBag.Title = "Deposit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    <div>
        @Html.LabelFor(m => m.Amount)
        @Html.TextBoxFor(m => m.Amount)

    </div>
    
    if(Model.OperationType == OperationTypes.Transfer || Model.OperationType == OperationTypes.Deposit)
    {
        <div>
            @Html.LabelFor(m => m.SourceList)
            @Html.DropDownListFor(m => m.SelectedSourceAccountNumber, new SelectList(@Model.SourceList, "Value", "Text"))

        </div>
    }
    
    if(Model.OperationType == OperationTypes.Transfer || Model.OperationType == OperationTypes.Withdrawal)
    {
         
         <div>
             @Html.LabelFor(m => m.TargetList)
             @Html.DropDownListFor(m => m.TargetList, new SelectList(@Model.SourceList, "Value", "Text"))

         </div>
    }
    
    <input type="submit" id="deposit" value="Deposit"/>
}

